td.top_aligned {
    vertical-align: top;
}

div.scrollable {
    overflow: auto;
}

svg.scrollable {
    overflow: auto;
}

body {
    background-color: lightblue;
}

table.with_margins {
    margin-right: 100px;
    margin-left: 100px;
    background-color: white;
}
